<%= form_for(@game_team) do |f| %>
  <% if @game_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_team.errors.count, "error") %> prohibited this game_team from being saved:</h2>

      <ul>
      <% @game_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.number_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
