<!-- container-fluid-->
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3 sombra">
    <div class="row text-center">
      <h2>Tower and Watchman</h2><hr>
    </div>
    <% @towers.each do |tower| %>
      <div class="row">
        <div class="col-md-12 impares">
          <span><strong>Name:</strong> </span><%= tower.name%><br>
          <span><strong>Watchman:</strong> </span><%= tower.watchman%>
          <div class="btn-control">
            <div class="btn btn-primary btn-xs ">
              <%= link_to "Edit", edit_tower_path(tower)%>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
            <div class="btn btn-primary btn-xs">
              <%= link_to "Show", tower_path(tower) %>
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <div class="btn btn-primary btn-xs">
              <%= link_to "Delete" %>
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
          </div><hr>
        </div>
      </div>
    <%end%>
    <div class="btn btn-primary col-md-offset-5">
      <%= link_to "New tower", new_tower_path %>
      <i class="fa fa-building-o" arial-hidden="true"></i>
    </div><hr>
  </div>
</div>
